extends ../layout

block content
  .hydraTabs(data-example-id='togglable-tabs')
    ul#bot-tabs.nav.nav-tabs
    #bot-tabs-content.tab-content
        //- li.hydraTabs(data-example-id='togglable-tabs')
        //-   ul#hydraTabs.nav.nav-tabs(role='tablist')
        //-     li.active(role='presentation')
        //-       a#home-tab(href='#dashboard', role='tab', data-toggle='tab', aria-controls='home', aria-expanded='true') Dashboard
        //-     li(role='presentation')
        //-       a#profile-tab(href='#terminal', role='tab', data-toggle='tab', aria-controls='profile', aria-expanded='false') Terminalz
        //-   #hydraTabContent.tab-content
        //-     #dashboard.tab-pane.fade.row.active.in(role='tabpanel', aria-labelledby='dashboard-tab')
        //-       include dashboard
        //-     #terminal.tab-pane.row.fade(role='tabpanel', aria-labelledby='terminal-tab')
        //-       ul#terminal-reply
        //-       form#gcode-terminal
        //-         input(class='float-left' id='gcode-input', type='text', name='gcode', value='', autocomplete="off", placeholder="" autofocus)
        //-         input(class='float-right' type='submit', value='Send GCode')
