extends ../layout

block content
  div.header
    .container
      div.col-xs-3
        .logo
          img(src= "images/logo.svg")
        h2.hidden-xs
          span.bold Hydra
          span Print
      div.col-xs-9.float-right
        ul
          li
            a
              span.hidden-xs Jobs
              span.hidden-sm.hidden-md.hidden-lg
                i.fa.fa-list
          li
            a
              span.hidden-xs Files
              span.hidden-sm.hidden-md.hidden-lg
                i.fa.fa-file
          li
            a
              span.hidden-xs Dashboard
              span.hidden-sm.hidden-md.hidden-lg
                i.fa.fa-tachometer
  div.container
    div.content.row
      include dashboard
      div.row
        div#terminal.col-md-12
          h2 Terminal
          ul#terminal-reply
          form#gcode-terminal
            input(id='gcode-input', type='text', name='gcode', value='')
            input(type='submit', value='Send GCode')
      div.row
        div#jobs.col-md-6
          h2 Jobs
        div#files.col-md-6
          h2 Files
          form(id='file-form', enctype='multipart/form-data')
            input(name='file', type='file')
            input(id='file-upload-button', type='button', value='Upload')
          #file-upload-progress-bar
            #file-upload-progress
  div.footer
    script(src='/js/vendor/jquery.min.js')
    script(src='/js/vendor/bootstrap.min.js')
    script var ip = !{JSON.stringify(ip)}
    script var jobs = !{JSON.stringify(jobs)}
    script var files = !{JSON.stringify(files)}
    script(src='/socket.io/socket.io.js')
    script(src='/js/ui/client.js')
