extends ../layout

block content
  div.container
    div.header.row
      div.col-md-8
        h2 Hydra Print
      div.col-md-4
        h4 Jobs Files Dashboard
    div.content.row
      include dashboard
      div.row
        div#terminal.col-md-12
          h2 Terminal
          form#gcode-terminal
            input(id='gcode-input' type='text', name='gcode', value='')
            input(type='submit', value='Send GCode')
      div.row
        div#jobs.col-md-6
          h2 Jobs
        div#files.col-md-6
          h2 Files
          form(enctype='multipart/form-data')
            input(name='file', type='file')
            input(type='button', value='Upload')
          progress 
  div.footer
    script(src='/js/vendor/jquery.min.js')
    script(src='/js/vendor/bootstrap.min.js')
    script var ip = !{JSON.stringify(ip)}
    script var jobs = !{JSON.stringify(jobs)}
    script var files = !{JSON.stringify(files)}
    script(src='/socket.io/socket.io.js')
    script(src='/js/ui/client.js')
