@import "bootstrap.min.scss";
@import "fonts.scss";
@import "font-awesome/font-awesome.scss";

/* GENERAL */
.modal.fade.in{
  display: block;
}
body {
  font-family:  "turkey-regular";
  background-color: #d1d2d4;
  a {
    color: #00B7FF;
  }

  #connect {
    cursor: pointer;
  }

  .button {
    cursor: pointer;
  }
  #terminal{
    input{
      padding: 18px;
      margin-top: 7px;
      font-size: 18px;
      border: none;
      background: #d1d2d4;
      -webkit-appearance: none;
      outline: none;
      &#gcode-input{
        width: 100%;
      }
    }
    input[type=submit]{
      background: #f16767;
      color: #fff;
      margin-top: 15px;
      outline: none;
      float: left;
    }
    #terminal-reply {
      color: #808284;
      font-family: "turkey-bold";
      font-size: 15px;
      overflow-y: scroll;
      background: #d1d2d4;
      height: 400px;
      padding: 15px;
      li{
       list-style-type: none;
     }
    }
  }
  .float-right {
    float: right;
  }
  .padding-0{
    padding: 0;
  }
}

.header {
  background-color: #fff;
  height: 65px;
  margin-bottom: 25px;
  a {
    color: #373435;
  }
  h2{
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    position: absolute;
    top: 16px;
    .bold{
      font-family: 'turkey-bold';
    }
  }
  .logo{
    width: 100%;
    max-width: 50px;
    display: inline-block;
    position: relative;
    top: 9px;
  }
  ul{
    text-align: right;
    -webkit-padding-start: 0;
    margin-bottom: 0;
    li {
      color: #373435;
      display: inline;
      font-size: 18px;
      padding: 23px;
      position: relative;
      top: 19px;
      @media screen and (max-width: 448px) {
        padding: 20px;
      }
      a{
        color: #373435;
        transition: .5s;
        cursor: pointer;
        &:hover{
          color: #f16767;
          text-decoration: none;
        }
      }
      .visible-xs{
        display: inline !important;
      }
    }
  }
}

.nav-tabs{
  margin-top: 25px;
  >li{
    width: 50%;
    text-align: center;
    &.active{
      >a{
        color: #808284;
      }
    }
    >a{
      background-color: #808284;
      color: #fff;
      margin-right: 0;
      border: none !important;
      font-size: 20px;
      border-radius: 0;
      padding: 20px;
      &:hover{
        background-color: #808284;
      }
    }
  }
}

#hydraTabContent{
  background: #fff;
  #connect {
    cursor: pointer;
    background: #373435;
    width: 120px;
    text-align: center;
    padding: 17.5px;
    color: #fff;
    font-size: 18px;
 }
  #stop{
    text-align: center;
    width: 120px;
    float: right;
    background-color: #df3f3f;
    color: white;
    padding: 17.5px;
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 15px;
  }
  .connect-area{
    background-color: #a7a9ab;
    width: 100%;
  }
  .dashboard{
    padding: 0;
  }
  .tab-pane{
    padding: 15px;
    margin: 0;
  }
}

#file-upload-progress-bar {
  opacity: 0;
  height: 50px;
  width: 100%;
  background-color: #666665;
  transition: 0.5s;
  &.visible {
    opacity: 1;
  }
  #file-upload-progress {
    height: 50px;
    background-color: #2E847B;
    width: 0%;
    transition: 0.5s;
  }
}


#files{
  .square {
    background: white;
      position: relative;
      width: 100%;
      color: #000;
      margin-bottom: 30px;
      transition: .5s;
      &:after {
      content: "";
      display: block;
      padding-bottom:100%;
    }
    .fa-download{
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 25px;
      color: #a7a9ab;
      transition: .5s;
      cursor: pointer;
      @media screen and (max-width: 767px) {
        font-size: 10vw;
      }
      &:hover{
        opacity: .5;
      }
    }
    .fa-times{
      position: absolute;
      top: 15px;
      left: 15px;
      font-size: 25px;
      color: #a7a9ab;
      transition: .5s;
      cursor: pointer;
      @media screen and (max-width: 767px) {
        font-size: 10vw;
      }
      &:hover{
        opacity: .5;
      }
    }
    .play-area{
      width: 100%;
      background: #a7a9ab;
      position: absolute;
      bottom: 0;
      height: 40px;
      .fa-play{
        position: absolute;
        cursor: pointer;
        right: 0;
        font-size: 25px;
        color: #fff;
        background: #55905a;
        padding: 7px 11px;
        transition: .5s;
        &:hover{
          color: #72ba75;
        }
      }
    }
    .file-details{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .file_uuid {
    background-color: red;
    display: none;
  }

  .file_name {
    display: block;
    text-align: center;
    font-size: 30px;
    @media screen and (max-width: 767px) {
      font-size: 10vw;
    }
  }

  .file_dateChanged {
    display: block;
    text-align: center;
  }
}

.subnav{
  background: #5d5d5d;
  color: #808284;
  font-size: 30px;
  padding: 15px;
  letter-spacing: 15px;
  padding-bottom: 11px;
}

.delete, .fa-play, .fa-upload, .jog{
  cursor: pointer;
}

.upload-text {
  display: inline;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}

.disable {
  background-color: #dd7777;
  text-align: center;
}
