.terminal__scroll-wrapper {
  padding-bottom: 15px;
  background: white;
}

.terminal__window {
  background: white;
  height: 400px;
  overflow: scroll;
  padding: 15px;
}

.terminal__message {
}

.terminal__message--tx {
}

.terminal__message--rx {
  // background-color: hsl(120, 50, 95);
}

.terminal__message--time {
}

.terminal__message--content {
  // background-color: hsl(120, 50, 95);
}
