extends ../layout

block content
  div.content
    div.row
      div#files
        .container
          div.subnav
            i.fa.fa-th
            i.fa.fa-list

          form(id='file-form', enctype='multipart/form-data')
            input(id='file-form-input' name='file', type='file' style='display:none')
            #select-file Upload File
          #file-upload-progress-bar
            #file-upload-progress
