extends ../layout

block content
  div.content
    div.row
      div#files
        .container
          div.subnav
            i.fa.fa-th
            i.fa.fa-list
            form(id='file-form', enctype='multipart/form-data').float-right
              input(id='file-form-input' name='file', type='file' style='display:none')
              #select-file
                .upload-text Upload File 
                i.fa.fa-upload
          #file-upload-progress-bar
            #file-upload-progress
