@import "bootstrap.min.scss";
@import "fonts.scss";
@import "font-awesome/font-awesome.scss";
@import "variables.scss";

// Prevent rubber-band scroll
html { height: 100%; width: 100%; overflow: hidden; }
body { height: 100%; padding: 0; overflow: auto; margin: 0; -webkit-overflow-scrolling: touch; }
// End Prevent rubber-band scroll

/* GENERAL */
.conductor-player {
  padding: 5px;
}

.conductor-form-text {
  background: #fff;
}

.green-plz {
  background: $green-low-sat !important;
}

.modal.fade.in{
  display: block;
}
body {
  font-family:  "turkey-regular";
  font-size: $standard-font-size;
  background-color: $base-bg-color;
  a {
    color: #00B7FF;
  }
  .container{
    max-width: 970px;
    width: 100%;
  }
  #connect {
    cursor: pointer;
  }
  .button {
    cursor: pointer;
  }
  #terminal{
    input{
      padding: 18px;
      margin-top: 7px;
      font-size: 18px;
      border: none;
      background: #d1d2d4;
      -webkit-appearance: none;
      outline: none;
      &#gcode-input{
        width: 100%;
      }
    }
    input[type=submit]{
      background: #f16767;
      color: #fff;
      margin-top: 15px;
      outline: none;
      float: left;
    }
    #terminal-reply {
      color: #808284;
      font-family: "turkey-bold";
      font-size: 15px;
      overflow-y: scroll;
      background: #d1d2d4;
      height: 400px;
      padding: 15px;
      li{
       list-style-type: none;
     }
    }
  }
  .float-right {
    float: right;
  }
  .padding-0{
    padding: 0;
  }
}

/* tabs */
button{
  &.add-bot{
    font-size: $standard-padding;
    background-color: $gray;
    color: $white;
    padding: 12px $standard-padding/1.5;
    border-radius: 0;
    border: none;
    position: relative;
    top: $standard-padding/6 * -1;
    margin-bottom: $standard-padding/6 * -1;
  }
}
.bot-tab-list-container{
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  &::-webkit-scrollbar{
    display:none;
  }
}
.bot-tab-list{
  background-color: $bot-tab-div-bg;
  width: 100%;
  overflow-y: hidden;
  @media screen and (max-width: $screen-lg-min) {
    width: 1440px;
  }
}
a{
  &.bot-tabs{
    color: $gray;
    font-size: $bot-tab-font-size;
    background-color: $bot-tab-bg;
    padding: 19px 15px;
    display: inline-block;
    margin: 0 3px;
    border-radius: 0;
    border: none;
    position: relative;
    &.active{
      background-color: $active-bot-bg;
    }
    &:hover{
      text-decoration: none;
    }
  }
}

.form{
  background: #ccc;
  padding: 5px;
}

#camfeed {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  background-color: #ffffff;
  img {
    border: 5px solid #dddddd;
  } 
}

#dashboard{
  background-color: $white;
  padding-top: $standard-padding/2;
  font-size: 14px;
  .col-md-6{
    padding: 0;
  }
  .area{
    background-color: #f0efef;
    padding: 15px;
    margin: 7px 4px;
    .no-padding{
      padding:0;
    }
    .col-xs-4{
      position: relative;
      z-index: 3;
    }
    .area-padding{
      padding: $standard-padding/2;
    }
    .disable-motors{
      button{
        padding: $standard-padding/4;
      }
    }
    .positioning{
      button{
        padding: $standard-padding/6;
        @media screen and (max-width: $screen-sm-max) {
          margin-bottom: $standard-padding/2;
        }
      }
    }
    .progress{
      margin-bottom: 0;
    }
    .temperature{
      padding-bottom: $standard-padding/2;
      input{
        padding: $standard-padding/3;
        &[type="submit"]{
          margin-top: 0;
          padding: 12px;
          margin-left: $standard-padding/6;
        }
        &[type="text"]{
          background: #ffffff;
          border: 2px solid #333;
        }
      }
      .fa{
        &::before{
          text-align: center;
          font-size: $standard-padding/1.5;
          color: white;
          background-color: $red;
          padding: 8px;
          position: relative;
          top: 8px;
          left: -20px;
        }
        input[type="submit"]{
          background: transparent;
          position: relative;
          right: $standard-padding/3 * -1;
        }
      }
      span{
        color: $button-color;
        background-color: $button-color;
        border-radius: 100%;
        padding: 0 2px;
        &.active{
          color: $red;
          background-color: $red;
        }
      }
    }
    .max-area-width{
      max-width: 460px;
    }
    button{
      background-color: $button-color;
      border: none;
      padding: $standard-padding/3 $standard-padding/2;
      border-radius: 0;
      color: white;
      letter-spacing: 1px;
      @media screen and (max-width: $screen-xs-max) {
        padding: $standard-padding/3;
      }
      &.full-width{
        width: 100%;
        margin-top: 10px;
      }
      &.cancel{
        background-color: $red;
      }
      &.connect{
        background-color: $green-low-sat;
      }
      &.disconnect{
        background-color: $button-color;
      }
      &.pause-resume{
        color: $white;
        background-color: $button-color;
      }
    }
    h3{
      font-size: $standard-padding/2;
      font-weight: bold;
      letter-spacing: $standard-padding/15;
      margin-top: 0;
    }
  }
  .send-gcode{
    input{
      &[type="submit"]{
        margin-top: 0;
      }
      &[type="text"]{
        background: #ffffff;
        border: 2px solid #333;
      }
    }
  }
}

.header {
  background-color: #fff;
  height: 65px;
  a {
    color: #373435;
  }
  h2{
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    position: absolute;
    top: 16px;
    .bold{
      font-family: 'turkey-bold';
    }
  }
  .logo{
    width: 100%;
    max-width: 50px;
    display: inline-block;
    position: relative;
    top: 9px;
    img{
      width:100%;
    }
  }
  ul{
    text-align: right;
    -webkit-padding-start: 0;
    margin-bottom: 0;
    li {
      color: #373435;
      display: inline;
      font-size: 18px;
      padding: 23px;
      position: relative;
      top: 19px;
      @media screen and (max-width: 448px) {
        padding: 20px;
      }
      a{
        color: #373435;
        transition: .5s;
        cursor: pointer;
        &:hover{
          color: #f16767;
          text-decoration: none;
        }
      }
      .visible-xs{
        display: inline !important;
      }
    }
  }
}

.nav-tabs{
  background-color: $base-bg-color;
  padding-top: $standard-padding/2;
  >li{
    width: calc(100% / 4);
    text-align: center;
    &.active{
      >a{
        color: #808284;
      }
    }
    >a{
      background-color: #808284;
      color: #fff;
      margin-right: 0;
      border: none !important;
      font-size: 20px;
      border-radius: 0;
      padding: $standard-padding/3;
      &:hover{
        background-color: #808284;
      }
    }
  }
}

#hydraTabContent{
  background: #fff;
  #connect {
    cursor: pointer;
    background: #373435;
    width: 120px;
    text-align: center;
    padding: 17.5px;
    color: #fff;
    font-size: 18px;
 }
  #stop{
    text-align: center;
    width: 120px;
    float: right;
    background-color: #df3f3f;
    color: white;
    padding: 17.5px;
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 15px;
  }
  .connect-area{
    background-color: #a7a9ab;
    width: 100%;
  }
  .dashboard{
    padding: 0;
  }
  .tab-pane{
    padding: 15px;
    margin: 0;
  }
}

#file-upload-progress-bar {
  opacity: 0;
  height: 50px;
  width: 100%;
  background-color: #666665;
  transition: 0.5s;
  &.visible {
    opacity: 1;
  }
  #file-upload-progress {
    height: 50px;
    background-color: #2E847B;
    width: 0%;
    transition: 0.5s;
  }
}


#files{
  .square {
    background: white;
      position: relative;
      width: 100%;
      color: #000;
      margin-bottom: 30px;
      transition: .5s;
      &:after {
      content: "";
      display: block;
      padding-bottom:100%;
    }
    .fa-download{
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 25px;
      color: #a7a9ab;
      transition: .5s;
      cursor: pointer;
      @media screen and (max-width: 767px) {
        font-size: 10vw;
      }
      &:hover{
        opacity: .5;
      }
    }
    .fa-times{
      position: absolute;
      top: 15px;
      left: 15px;
      font-size: 25px;
      color: #a7a9ab;
      transition: .5s;
      cursor: pointer;
      @media screen and (max-width: 767px) {
        font-size: 10vw;
      }
      &:hover{
        opacity: .5;
      }
    }
    .play-area{
      width: 100%;
      background: #a7a9ab;
      position: absolute;
      bottom: 0;
      height: 40px;
      .fa-play{
        position: absolute;
        cursor: pointer;
        right: 0;
        font-size: 25px;
        color: #fff;
        background: #55905a;
        padding: 7px 11px;
        transition: .5s;
        &:hover{
          color: #72ba75;
        }
      }
    }
    .file-details{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .file_uuid {
    background-color: red;
    display: none;
  }

  .file_name {
    display: block;
    text-align: center;
    font-size: 30px;
    @media screen and (max-width: 767px) {
      font-size: 10vw;
    }
  }

  .file_dateChanged {
    display: block;
    text-align: center;
  }
}

.subnav{
  background: #5d5d5d;
  color: #808284;
  font-size: 30px;
  padding: 15px;
  letter-spacing: 15px;
  padding-bottom: 11px;
}

.delete, .fa-play, .fa-upload, .jog{
  cursor: pointer;
}

.upload-text {
  display: inline;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}

.disable {
  background-color: #dd7777;
  text-align: center;
}


/* SETTINGS */

#settings{
  .current-value{
    background: #ddd;
    padding: $standard-padding/2;
    min-height: 52px;
    text-align: center;
  }
  .settings-label{
    padding: $standard-padding/2;
    text-transform: uppercase;
    font-size: 20px;
  }
  input{
    position: relative;
  }
}

/* FILES PAGE */
#files, #jobs{
  button{
    &.upload{
      padding: $standard-padding/2 $standard-padding;
      border: none;
      background: none;
      border: $standard-padding/10 dashed $gray;
      padding: $standard-padding;
      letter-spacing: 2px;
      width: 100%;
    }
  }
  .progress{
    background-color: $gray-light;
    margin-bottom: 0;
    height: 63px;
    margin-top: -10px;
    border-radius: 0;
    margin-right: -1;
    box-shadow: none;
    .progress-bar{
      background-color: $teal;
    }
    .progress-bar-striped{
      background-image: linear-gradient(135deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
      background-size: 40px 40px;
    }
    .sr-only {
      position: relative;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
      z-index: 3;
      top: 23px;
      font-size: 18px;
      font-weight: 100;
    }
  }
  .file-area{
    background-color: $white;
    margin-top: $standard-padding/2;
    button{
      border: none;
      opacity: .5;
      display: inline-block;
      padding: 18px;
      font-size: 27px;
      &.delete{
        padding: 0;
        outline: none;
        background-color: transparent;
        opacity: .2;
        font-size: 20px;
      }
      &.download{
        background-color: $gray;
        color: $white;
        outline: none;
        opacity: 1;
        float: right;
        @media screen and (max-width: $screen-xs-max) {
          float: left;
          width: 50%;
        }
        &:hover{
          background-color: $gray-light;
        }
        &:focus{
          background-color: $gray-dark;
        }
      }
      &.print{
        background-color: $green;
        color: $white;
        opacity: 1;
        float: right;
        outline: none;
        @media screen and (max-width: $screen-xs-max) {
          float: left;
          width: 50%;
        }
        &:hover{
          background-color: $green-light;
        }
        &:focus{
          background-color: $green-dark;
        }
      }
    }
    h2{
      display: inline-block;
      padding-left: $standard-padding/2;
      margin: 0;
      span{
        font-size: 12px;
        opacity: .6;
      }
    }
    .file-info{
      background-color: $white;
      padding: $standard-padding/2;
    }
    .file-btns{
      background-color: $white;
      padding: 0;
    }
  }
}

/* FORMS */

input{
  padding: $standard-padding/2;
  width: 100%;
  padding: $standard-padding/2;
  padding-left: 0;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid $gray;
  &[type=submit]{
    background-color: $red;
    color: $white;
    border: none;
    letter-spacing: 2px;
    padding: $standard-padding/2 $standard-padding;
    margin-top: $standard-padding;
  }
}

select{
  outline: none;
  -webkit-appearance: none;
  padding: $standard-padding/2;
  border-radius: 0;
  border: 3px solid $gray;
  background-color: $white;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 40px;
  padding-right: 50px;
}

label{
  display: block;
  margin-top: $standard-padding/2;
  text-transform: uppercase;
  font-size: $font-label-size;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
