@import "bootstrap.min.scss";
@import "fonts.scss";
@import "font-awesome/font-awesome.scss";
@import "variables.scss";

/* GENERAL */
.modal.fade.in{
  display: block;
}
body {
  font-family:  "turkey-regular";
  background-color: $base-bg-color;
  a {
    color: #00B7FF;
  }
  .container{
    max-width: 970px;
    width: 100%;
  }
  #connect {
    cursor: pointer;
  }
  .button {
    cursor: pointer;
  }
  #terminal{
    input{
      padding: 18px;
      margin-top: 7px;
      font-size: 18px;
      border: none;
      background: #d1d2d4;
      -webkit-appearance: none;
      outline: none;
      &#gcode-input{
        width: 100%;
      }
    }
    input[type=submit]{
      background: #f16767;
      color: #fff;
      margin-top: 15px;
      outline: none;
      float: left;
    }
    #terminal-reply {
      color: #808284;
      font-family: "turkey-bold";
      font-size: 15px;
      overflow-y: scroll;
      background: #d1d2d4;
      height: 400px;
      padding: 15px;
      li{
       list-style-type: none;
     }
    }
  }
  .float-right {
    float: right;
  }
  .padding-0{
    padding: 0;
  }
}

/* tabs */
button{
  &.add-bot{
    font-size: $standard-padding;
    background-color: $dark-gray;
    color: $white;
    padding: $standard-padding/3 $standard-padding/1.5;
    border-radius: 0;
    border: none;
  }
}
.bot-tab-list-container{
  width: 100%;
  height: 64px;
  overflow-y: hidden;
  overflow-x: scroll;
  &::-webkit-scrollbar{
    display:none;
  }
}
.bot-tab-list{
  background-color: $bot-tab-div-bg;
  width: 100%;
  height: 85px;
  overflow-y: hidden;
  margin-top: -6px;
  @media screen and (max-width: $screen-lg-min) {
    width: 1440px;
  }
}
a{
  &.bot-tabs{
    color: $dark-gray;
    font-size: $bot-tab-font-size;
    background-color: $bot-tab-bg;
    padding: 19px 15px;
    display: inline-block;
    margin: 0 3px;
    border-radius: 0;
    border: none;
    position: relative;
    top: 4px;
    &.active{
      background-color: $active-bot-bg;
    }
    &:hover{
      text-decoration: none;
    }
  }
}


#dashboard{
  background-color: $white;
  padding-top: $standard-padding/2;
  .col-md-6{
    padding: 0;
  }
  .area{
    background-color: #f0efef;
    padding: 15px;
    margin: 7px 4px;
    .no-padding{
      padding:0;
    }
    .col-xs-4{
      position: relative;
      z-index: 9999999;
    }
    .area-padding{
      padding: $standard-padding/2;
    }
    .disable-motors{
      button{
        padding: $standard-padding/4;
      }
    }
    .positioning{
      button{
        padding: $standard-padding/6;
        @media screen and (max-width: $screen-sm-max) {
          margin-bottom: $standard-padding/2;
        }
      }
    }
    .progress{
      margin-bottom: 0;
    }
    .temperature{
      padding-bottom: $standard-padding/2;
      span{
        color: $button-color;
        background-color: $button-color;
        border-radius: 100%;
        padding: 0 2px;
        &.active{
          color: $red;
          background-color: $red;
        }
      }
    }
    .max-area-width{
      max-width: 460px;
    }
    button{
      background-color: $button-color;
      border: none;
      padding: $standard-padding/3 $standard-padding/2;
      border-radius: 0;
      color: white;
      letter-spacing: 1px;
      @media screen and (max-width: $screen-xs-max) {
        padding: $standard-padding/3;
      }
      &.full-width{
        width: 100%;
        margin-top: 10px;
      }
      &.cancel{
        background-color: $red;
      }
      &.connect{
        background-color: $green;
      }
      &.disconnect{
        background-color: $button-color;
      }
      &.pause-resume{
        color: $white;
        background-color: $button-color;
      }
    }
    h3{
      font-size: $standard-padding/2;
      font-weight: bold;
      letter-spacing: $standard-padding/15;
      margin-top: 0;
    }
  }
}

.header {
  background-color: #fff;
  height: 65px;
  a {
    color: #373435;
  }
  h2{
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    position: absolute;
    top: 16px;
    .bold{
      font-family: 'turkey-bold';
    }
  }
  .logo{
    width: 100%;
    max-width: 50px;
    display: inline-block;
    position: relative;
    top: 9px;
    img{
      width:100%;
    }
  }
  ul{
    text-align: right;
    -webkit-padding-start: 0;
    margin-bottom: 0;
    li {
      color: #373435;
      display: inline;
      font-size: 18px;
      padding: 23px;
      position: relative;
      top: 19px;
      @media screen and (max-width: 448px) {
        padding: 20px;
      }
      a{
        color: #373435;
        transition: .5s;
        cursor: pointer;
        &:hover{
          color: #f16767;
          text-decoration: none;
        }
      }
      .visible-xs{
        display: inline !important;
      }
    }
  }
}

.nav-tabs{
  background-color: $base-bg-color;
  padding-top: $standard-padding/2;
  >li{
    width: calc(100% / 3);
    text-align: center;
    &.active{
      >a{
        color: #808284;
      }
    }
    >a{
      background-color: #808284;
      color: #fff;
      margin-right: 0;
      border: none !important;
      font-size: 20px;
      border-radius: 0;
      padding: $standard-padding/3;
      &:hover{
        background-color: #808284;
      }
    }
  }
}

#hydraTabContent{
  background: #fff;
  #connect {
    cursor: pointer;
    background: #373435;
    width: 120px;
    text-align: center;
    padding: 17.5px;
    color: #fff;
    font-size: 18px;
 }
  #stop{
    text-align: center;
    width: 120px;
    float: right;
    background-color: #df3f3f;
    color: white;
    padding: 17.5px;
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 15px;
  }
  .connect-area{
    background-color: #a7a9ab;
    width: 100%;
  }
  .dashboard{
    padding: 0;
  }
  .tab-pane{
    padding: 15px;
    margin: 0;
  }
}

#file-upload-progress-bar {
  opacity: 0;
  height: 50px;
  width: 100%;
  background-color: #666665;
  transition: 0.5s;
  &.visible {
    opacity: 1;
  }
  #file-upload-progress {
    height: 50px;
    background-color: #2E847B;
    width: 0%;
    transition: 0.5s;
  }
}


#files{
  .square {
    background: white;
      position: relative;
      width: 100%;
      color: #000;
      margin-bottom: 30px;
      transition: .5s;
      &:after {
      content: "";
      display: block;
      padding-bottom:100%;
    }
    .fa-download{
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 25px;
      color: #a7a9ab;
      transition: .5s;
      cursor: pointer;
      @media screen and (max-width: 767px) {
        font-size: 10vw;
      }
      &:hover{
        opacity: .5;
      }
    }
    .fa-times{
      position: absolute;
      top: 15px;
      left: 15px;
      font-size: 25px;
      color: #a7a9ab;
      transition: .5s;
      cursor: pointer;
      @media screen and (max-width: 767px) {
        font-size: 10vw;
      }
      &:hover{
        opacity: .5;
      }
    }
    .play-area{
      width: 100%;
      background: #a7a9ab;
      position: absolute;
      bottom: 0;
      height: 40px;
      .fa-play{
        position: absolute;
        cursor: pointer;
        right: 0;
        font-size: 25px;
        color: #fff;
        background: #55905a;
        padding: 7px 11px;
        transition: .5s;
        &:hover{
          color: #72ba75;
        }
      }
    }
    .file-details{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .file_uuid {
    background-color: red;
    display: none;
  }

  .file_name {
    display: block;
    text-align: center;
    font-size: 30px;
    @media screen and (max-width: 767px) {
      font-size: 10vw;
    }
  }

  .file_dateChanged {
    display: block;
    text-align: center;
  }
}

.subnav{
  background: #5d5d5d;
  color: #808284;
  font-size: 30px;
  padding: 15px;
  letter-spacing: 15px;
  padding-bottom: 11px;
}

.delete, .fa-play, .fa-upload, .jog{
  cursor: pointer;
}

.upload-text {
  display: inline;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}

.disable {
  background-color: #dd7777;
  text-align: center;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
