$standard-padding: 30px;

$white: #ffffff;
$dark-gray: #383635;


$base-bg-color: #F3F6FB;

$button-color: #9FA1A4;
$red: #Df3f3f;
$green: #479C93;


/* TABS */
$bot-tab-bg:        #CCCBD5;
$bot-tab-font-size: $standard-padding/1.5;
$active-bot-bg:     $base-bg-color;
$bot-tab-div-bg:    rgba(204,203,213,.5);


/*BREAKPOINTS*/
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
