@import "bootstrap.min.scss";
@import "fonts.scss";
@import "font-awesome.scss";

/* GENERAL */
body {
  font-family:  "turkey-regular";
  background-color: #d1d2d4;
  a {
    color: #00B7FF;
  }

  #connect {
    cursor: pointer;
  }

  .button {
    cursor: pointer;
  }
  #terminal{
    input{
      padding: 18px;
      margin-top: 7px;
      font-size: 18px;
      border: none;
      background: #d1d2d4;
      -webkit-appearance: none;
      outline: none;
      &#gcode-input{
        width: 100%;
      }
    }
    input[type=submit]{
      background: #f16767;
      color: #fff;
      margin-top: 15px;
      outline: none;
    }
    #terminal-reply {
      color: #808284;
      font-family: "turkey-bold";
      font-size: 15px;
      overflow-y: scroll;
      background: #d1d2d4;
      height: 450px;
      padding: 15px;
      li{
       list-style-type: none;
     }
    }
  }
  .float-right {
    float: right;
  }

}

.header {
  background-color: #fff;
  height: 65px;
  h2{
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    position: absolute;
    top: 16px;
    .bold{
      font-family: 'turkey-bold';
    }
  }
  .logo{
    width: 100%;
    max-width: 50px;
    display: inline-block;
    position: relative;
    top: 9px;
  }
  ul{
    text-align: right;
    margin-bottom: 0;
    li {
      color: #373435;
      display: inline;
      font-size: 18px;
      padding: 23px;
      position: relative;
      top: 19px;
      a{
        color: #373435;
        transition: .5s;
        cursor: pointer;
        &:hover{
          color: #f16767;
          text-decoration: none;
        }
      }
      .visible-xs{
        display: inline !important;
      }
    }
  }
}

.nav-tabs{
  margin-top: 25px;
  >li{
    width: 50%;
    text-align: center;
    &.active{
      >a{
        color: #808284;
      }
    }
    >a{
      background-color: #808284;
      color: #fff;
      margin-right: 0;
      border: none !important;
      font-size: 20px;
      border-radius: 0;
      padding: 20px;
      &:hover{
        background-color: #808284;
      }
    }
  }
}

#hydraTabContent{
  background: #fff;
  .tab-pane{
    padding: 15px;
    margin: 0;
  }
}

#file-upload-progress-bar {
  opacity: 0;
  height: 50px;
  width: 100%;
  background-color: #666665;
  transition: 0.5s;
  &.visible {
    opacity: 1;
  }
  #file-upload-progress {
    height: 50px;
    background-color: orange;
    width: 0%;
    transition: 0.5s;
  }
}
