div.header
  .container
    div.col-xs-3
      .logo
        img(src= "images/logo.svg")
      h2.hidden-xs
        span.bold Hydra
        span Print
    div.col-xs-9.float-right
      ul
        li
          a(href="/jobs")
            span.hidden-xs Jobs
            span.hidden-sm.hidden-md.hidden-lg
              i.fa.fa-list
        li
          a(href="/files")
            span.hidden-xs Files
            span.hidden-sm.hidden-md.hidden-lg
              i.fa.fa-file
        li
          a(href="/")
            span.hidden-xs Dashboard
            span.hidden-sm.hidden-md.hidden-lg
              i.fa.fa-tachometer
