/* FONTS */
@font-face {
  font-family: "turkey-bold";
  src: url("./fonts/Frutiger LT 65 Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "turkey-bolditalic";
  src: url("./fonts/Frutiger LT 66 Bold Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "turkey-light";
  src: url("./fonts/Frutiger LT 45 Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "turkey-regular";
  src: url("./fonts/Frutiger LT 55 Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "turkey-italic";
  src: url("./fonts/frutiger_lt_std_56_italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
