# /lib/systemd/system/mcu.service
[Unit]
Description=Machine Collaboration Service
After=network.target

[Service]
ExecStart=/home/pi/.nvm/versions/node/v8.6.0/bin/node /home/pi/machine-collaboration-utility/server/launchServer.js
Restart=always
WorkingDirectory=/home/pi/mcu

[Install]
WantedBy=multi-user.target
